<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">{{navTitle}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/">ME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/work">WORK<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/resume">RESUME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contact">CONTACT</a>
      </li>
    </ul>

    <button class="btn btn-outline-primary rounded-pill my-2 my-sm-0" type="submit">HIRE ME</button>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>