<div class="intro">
    <!-- short bio -->
    <h5 class="lead">Hello, I'm</h5>
    <h3 class="display-5">{{title}}</h3>
    <p>Android | Web Developer & UI | UX Designer</p>

    <!-- social activities -->
    <div class="d-flex justify-content-start">
        <a href="#"><span>F</span></a>
        <a href="#"><span>T</span></a>
    </div>

    <!-- divider -->
    <hr class="my-4">

    <!-- desc about my profession/experience -->
    <div class="profile-desc">
        <p>
            Hi! I am <b>{{title}}</b>. I live in Dhaka, Bangladesh. <br>

            Currently I'm working with a startup company named as <b>School Of Thought</b> since 2019.<br>

            I have experience to develop <b>Android application</b> since 2018.
        </p>
    </div>
    <a class="btn btn-primary rounded-pill btn-sm" href="#" role="button">HIRE ME</a>
</div>

<div class="projects">
    <!-- divider -->
    <hr class="my-4">
    
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">RECENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ALL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ANDROID</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">WEB</a>
        </li>
    </ul>
</div>