span{
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
    user-select: none;
}

.card-body{
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.card-header{
    margin-bottom: 20px;
}

h1{
    color: darken($color: #CCCCCC, $amount: 2);
}

.hireme-btn{
    margin-top: 20px;
}

.profile-desc{
    margin-top: 30px;
}

a{
    margin-right: 8px;
}

h3,h5{
    margin: 0;
}
