<!-- selector -->
<div class="intro">
    <!-- short bio -->
    <h5 class="lead">Hello, I'm</h5>
    <h3 class="display-5">{{title}}</h3>
    <p>Android | Web Developer & UI | UX Designer</p>

    <!-- social activities -->
    <div class="d-flex justify-content-start">
        <a class="btn btn-light  btn-sm" href="#">
            <svg-icon src="../assets/social/twitter-outline.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
        </a>

        <a class="btn btn-light  btn-sm" href="#">
            <svg-icon src="../assets/social/facebook-outline.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
        </a>

        <a class="btn btn-light  btn-sm" href="#">
            <svg-icon src="../assets/social/github-outline.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
        </a>

        <a class="btn btn-light  btn-sm" href="#">
            <svg-icon src="../assets/social/linkedin-outline.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
        </a>
    </div>

    <div class="hireme-btn">
        <a class="btn btn-primary rounded-pill btn-sm" routerLink="/hire" href="#" role="button">HIRE ME</a>
    </div>
</div>

<!-- divider -->
<hr class="my-4">

<div class="text-start">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">RECENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ALL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ANDROID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WEB</a>
            </li>
        </ul>
    </div>

    <div class="project-holder">
        <div class="row" >
            <div class="col-sm-4" *ngFor="let project of projects">
                <div class=" shadow-sm p-3 mb-5 bg-white rounded">
                    <a routerLink="">
                        <div class="card-body">
                            <img src="../assets/project/rannaghor.png" class="card-img-top" alt="rannaghor">

                            <!-- divider -->
                            <hr class="item-divider">

                            <div class="card-body">
                                <h5 class="card-title">{{project.name}}</h5>
                                <p class="card-text">{{project.desc}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>