@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$primary: rgb(111,0,255);
$primaryDark: rgb(111,0,255);

body{
    margin: 0;
}

.container{
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}

li{
    font-size: 12px;
    font-weight: bold;
}