$primary: rgb(111,0,255);
$primaryDark: rgb(111,0,255);

body{
    margin: 0;
}

.navbar{
    margin-bottom: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.rounded-pill{
    padding-left: 20px;
    padding-right: 20px;
}

li{
    font-size: 12px;
    font-weight: bold;
}
